@page "/people/create"
@inject HttpClient http
@inject NavigationManager nav
<h3>Create</h3>

<PersonForm ButtonText="Create Person" Person="_person"
            OnvalidSubmit="@CreatePerson" />

@code {
    Person _person = new Person();
    async Task CreatePerson()
    {
        await http.PostAsJsonAsync("api/people", _person);
        nav.NavigateTo("people");
    }

}
